# Pandas做空调开机率分析

## 导入基础库

In [26]:
import numpy as np

In [27]:
import pandas as pd

## 生成基础数据

In [28]:
# dates = pd.date_range('20200310', periods=10)

In [44]:
# df = pd.DataFrame(np.random.randint(0, 2, size=(10, 2)), index=dates, columns=list("AB"))

## 载入实际数据

In [125]:
df = pd.read_csv('./ac_on_rate.csv', index_col='time', usecols=[1, 2, 3])

In [126]:
df

               1330057054907412_value  1330057069747246_value
time
1583838000000                     1.0                     1.0
1583838060000                     1.0                     1.0
1583838120000                     1.0                     1.0
1583838240000                     1.0                     1.0
1583838300000                     1.0                     1.0
1583838360000                     1.0                     1.0
1583838420000                     1.0                     1.0
1583838480000                     1.0                     1.0
1583838540000                     1.0                     1.0
1583838600000                     1.0                     1.0
1583838660000                     1.0                     1.0
1583838720000                     1.0                     1.0
1583838780000                     1.0                     1.0
1583838840000                     1.0                     1.0
1583838900000                     1.0                     NaN
1583838960000                     1.0                     0.0
1583839020000                     1.0                     0.0
1583839080000                     1.0                     0.0
1583839140000                     1.0                     0.0
1583839200000                     1.0                     0.0
1583839260000                     1.0                     0.0
1583839320000                     1.0                     0.0
1583839440000                     1.0                     0.0
1583839500000                     1.0                     0.0
1583839560000                     1.0                     0.0
1583839620000                     1.0                     0.0
1583839680000                     1.0                     0.0
1583839740000                     1.0                     0.0
1583839800000                     1.0                     0.0
1583839860000                     1.0                     0.0
1583839920000                     1.0                     0.0
1583839980000                     1.0                     0.0
1583840040000                     1.0                     NaN
1583840100000                     1.0                     0.0
1583840160000                     1.0                     0.0
1583840220000                     1.0                     0.0
1583840280000                     1.0                     0.0
1583840340000                     1.0                     0.0
1583840400000                     1.0                     0.0
1583840460000                     1.0                     0.0
1583840580000                     1.0                     0.0
1583840640000                     1.0                     0.0
1583840700000                     1.0                     0.0
1583840760000                     1.0                     0.0
1583840820000                     1.0                     0.0
1583840880000                     1.0                     0.0
1583840940000                     1.0                     0.0
1583841000000                     1.0                     0.0
1583841060000                     1.0                     0.0
1583841120000                     1.0                     0.0
1583841180000                     1.0                     0.0
1583841240000                     1.0                     NaN
1583841300000                     1.0                     0.0
1583841360000                     1.0                     0.0
1583841420000                     1.0                     0.0
1583841480000                     1.0                     0.0
1583838180000                     NaN                     1.0
1583839380000                     NaN                     0.0
1583840520000                     NaN                     0.0

## 总开机率

In [127]:
df_max = df.apply(lambda x : x.max(), axis=1)

In [128]:
df_max

time
1583838000000    1.0
1583838060000    1.0
1583838120000    1.0
1583838240000    1.0
1583838300000    1.0
1583838360000    1.0
1583838420000    1.0
1583838480000    1.0
1583838540000    1.0
1583838600000    1.0
1583838660000    1.0
1583838720000    1.0
1583838780000    1.0
1583838840000    1.0
1583838900000    1.0
1583838960000    1.0
1583839020000    1.0
1583839080000    1.0
1583839140000    1.0
1583839200000    1.0
1583839260000    1.0
1583839320000    1.0
1583839440000    1.0
1583839500000    1.0
1583839560000    1.0
1583839620000    1.0
1583839680000    1.0
1583839740000    1.0
1583839800000    1.0
1583839860000    1.0
1583839920000    1.0
1583839980000    1.0
1583840040000    1.0
1583840100000    1.0
1583840160000    1.0
1583840220000    1.0
1583840280000    1.0
1583840340000    1.0
1583840400000    1.0
1583840460000    1.0
1583840580000    1.0
1583840640000    1.0
1583840700000    1.0
1583840760000    1.0
1583840820000    1.0
1583840880000    1.0
1583840940000    1.0
1583841000000    1.0
1583841060000    1.0
1583841120000    1.0
1583841180000    1.0
1583841240000    1.0
1583841300000    1.0
1583841360000    1.0
1583841420000    1.0
1583841480000    1.0
1583838180000    1.0
1583839380000    0.0
1583840520000    0.0
dtype: float64

### 数据格式化

In [129]:
df_ac_on = df_max.round(2)

In [130]:
df_ac_on

time
1583838000000    1.0
1583838060000    1.0
1583838120000    1.0
1583838240000    1.0
1583838300000    1.0
1583838360000    1.0
1583838420000    1.0
1583838480000    1.0
1583838540000    1.0
1583838600000    1.0
1583838660000    1.0
1583838720000    1.0
1583838780000    1.0
1583838840000    1.0
1583838900000    1.0
1583838960000    1.0
1583839020000    1.0
1583839080000    1.0
1583839140000    1.0
1583839200000    1.0
1583839260000    1.0
1583839320000    1.0
1583839440000    1.0
1583839500000    1.0
1583839560000    1.0
1583839620000    1.0
1583839680000    1.0
1583839740000    1.0
1583839800000    1.0
1583839860000    1.0
1583839920000    1.0
1583839980000    1.0
1583840040000    1.0
1583840100000    1.0
1583840160000    1.0
1583840220000    1.0
1583840280000    1.0
1583840340000    1.0
1583840400000    1.0
1583840460000    1.0
1583840580000    1.0
1583840640000    1.0
1583840700000    1.0
1583840760000    1.0
1583840820000    1.0
1583840880000    1.0
1583840940000    1.0
1583841000000    1.0
1583841060000    1.0
1583841120000    1.0
1583841180000    1.0
1583841240000    1.0
1583841300000    1.0
1583841360000    1.0
1583841420000    1.0
1583841480000    1.0
1583838180000    1.0
1583839380000    0.0
1583840520000    0.0
dtype: float64

In [131]:
df_ac_on_minutes = df_ac_on[df_ac_on>0]

### 计算开机分钟数

In [132]:
df_ac_on_info = df_ac_on_minutes.describe()

In [133]:
df_ac_on_info['count']

57.0

## 开机率min/max值

In [142]:
df_all = df[df > 0]

In [151]:
df_all = df_all.dropna(how='all')

In [152]:
df_all

               1330057054907412_value  1330057069747246_value
time
1583838000000                     1.0                     1.0
1583838060000                     1.0                     1.0
1583838120000                     1.0                     1.0
1583838240000                     1.0                     1.0
1583838300000                     1.0                     1.0
1583838360000                     1.0                     1.0
1583838420000                     1.0                     1.0
1583838480000                     1.0                     1.0
1583838540000                     1.0                     1.0
1583838600000                     1.0                     1.0
1583838660000                     1.0                     1.0
1583838720000                     1.0                     1.0
1583838780000                     1.0                     1.0
1583838840000                     1.0                     1.0
1583838900000                     1.0                     NaN
1583838960000                     1.0                     NaN
1583839020000                     1.0                     NaN
1583839080000                     1.0                     NaN
1583839140000                     1.0                     NaN
1583839200000                     1.0                     NaN
1583839260000                     1.0                     NaN
1583839320000                     1.0                     NaN
1583839440000                     1.0                     NaN
1583839500000                     1.0                     NaN
1583839560000                     1.0                     NaN
1583839620000                     1.0                     NaN
1583839680000                     1.0                     NaN
1583839740000                     1.0                     NaN
1583839800000                     1.0                     NaN
1583839860000                     1.0                     NaN
1583839920000                     1.0                     NaN
1583839980000                     1.0                     NaN
1583840040000                     1.0                     NaN
1583840100000                     1.0                     NaN
1583840160000                     1.0                     NaN
1583840220000                     1.0                     NaN
1583840280000                     1.0                     NaN
1583840340000                     1.0                     NaN
1583840400000                     1.0                     NaN
1583840460000                     1.0                     NaN
1583840580000                     1.0                     NaN
1583840640000                     1.0                     NaN
1583840700000                     1.0                     NaN
1583840760000                     1.0                     NaN
1583840820000                     1.0                     NaN
1583840880000                     1.0                     NaN
1583840940000                     1.0                     NaN
1583841000000                     1.0                     NaN
1583841060000                     1.0                     NaN
1583841120000                     1.0                     NaN
1583841180000                     1.0                     NaN
1583841240000                     1.0                     NaN
1583841300000                     1.0                     NaN
1583841360000                     1.0                     NaN
1583841420000                     1.0                     NaN
1583841480000                     1.0                     NaN
1583838180000                     NaN                     1.0

In [153]:
df_all_info = df_all.describe()

In [154]:
df_all_info

       1330057054907412_value  1330057069747246_value
count                    56.0                    15.0
mean                      1.0                     1.0
std                       0.0                     0.0
min                       1.0                     1.0
25%                       1.0                     1.0
50%                       1.0                     1.0
75%                       1.0                     1.0
max                       1.0                     1.0

In [146]:
ac_on_minutes = df_all_info.loc['count'].tolist()

In [147]:
ac_on_minutes

[56.0, 15.0]

In [138]:
ac_on_min = min(ac_on_minutes)

In [139]:
ac_on_max = max(ac_on_minutes)

In [140]:
ac_on_min

15.0

In [141]:
ac_on_max

56.0